<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Proyecto Final DS</title>
        <style>
            body {
                background-color: #222;
                color: #fff;
                font-family: sans-serif;
                text-align: center;
            }
            button {
                background-color: #ffa07a;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                margin-top: 20px;
            }
            footer {
                height: 150px;
                position: absolute; left: 0; bottom: 0; width: 100%;
            }
        </style>
    </head>
    <body>
        <h1>Proyecto Final DS</h1>
        <button onclick="location.href='/convertir'">Convertir imágenes</button>
        <!-- <button onclick="location.href='/GIF'">Transformar a GIF</button>
        <button onclick="mostrarDetalles()">Mostrar detalles</button>
        <div id="detalles"></div>
        <script>
            function mostrarDetalles() {
                document.getElementById('detalles').innerHTML = "<h3>Detalles aquí...</h3>";
            }
        </script> -->
    </body>
    <footer>
        <a>Realizado por Gabriel Perez, Alejandro Ledezma y Mayra Oropeza</a>
    </footer>
</html>